@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: "Montserrat", sans-serif;
    background: #FFFFFF, 100%;
  
}

.header{
    overflow: hidden;
    height: 77px;
    left: 0px;
    top: 0px;

    padding: 2.5px 1px;
    background: #63A583;

}
/* Style the header links */
.header a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    border-radius: 15px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #E4DBD9;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
    text-align: center;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    text-align: center;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  
  
/*FAQ title*/
h3 {
              
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 10px;
        margin: 50px 7% 20px 7%;
      
        /* or 28% */
        
       
        
        color: #000000;
    
}

/*FAQ page text*/
p {
       
        left: 108px;
        top: 189px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        margin: 20px 7% 50px 7%;
    

        /* or 139% */
        
       
        
        color: #000000;
    
}
/*home page icon*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }

  /*in a row*/
  .row {
    display: flex;
    margin: 0px 10% 0px 10%;
    
  }
  
  .column {
    flex: 33.33%;
    padding: 25px;
    
  }


/*Log in page*/  
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}