<!doctype html>

<head>
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>

    <!--Header-->
    <div class="header">
        <div class="header-left">
            <span class="iconify" data-icon="simple-icons:countingworkspro" data-inline="false" data-width="45px" data-height="45px"></span>
            <h1>Carbon Calories</h1>
        </div>
        <div class="header-right">
            <a class="Home" a href="/">Home</a>
            <a class="FAQ" a href="/faq">FAQ</a>
            <a class="Profile" a href="/profile">Profile</a>
            <a class="Log out" a href="/logout">Log out</a>
        </div>

    </div>

    <div class="header-placeholder"></div>

    <div class="profile">
        <!-- The sidebar -->
        <div class="sidebar">
            <div class="inner-sidebar">
                <div class="sidebar-container">
                    <a href="/profile">
                        <span class="iconify" data-icon="carbon:settings" data-inline="false" data-width="45px" data-height="45px"></span> Score
                    </a>
                    <a href="/history">
                        <span class="iconify" data-icon="ic:baseline-content-paste" data-inline="false" data-width="45px" data-height="45px"></span> History
                    </a>
                    <a href="/analytics">
                        <span class="iconify" data-icon="ion:analytics" data-inline="false" data-width="45px" data-height="45px"></span> Analytics
                    </a>
                    <a href="/search">
                        <span class="iconify" data-icon="ant-design:search-outlined" data-inline="false" data-width="45px" data-height="45px"></span> Search
                    </a>
                    <a href="/settings" class="active">
                        <span class="iconify" data-icon="carbon:progress-bar-round" data-inline="false" data-width="45px" data-height="45px"></span> Settings
                    </a>
                </div>
                <div class="sidebar-footer">
                    <a href="">
                        <span class="iconify" data-icon="gg:profile" data-inline="false" data-width="45px" data-height="45px"></span> {{ username }}
                    </a>
                </div>
            </div>
        </div>

        <div class="placeholder"></div>

        <div class="settings">
            {% if message != None %}
            <h4>{{ message }}</h4>
            {% endif %}

            <form action="/update" method="post">

                <div>
                    <div class="block">
                        <label class="profile-pic">
                            <span class="iconify" data-icon="gg:profile" data-inline="false" data-width="94px" data-height="94px"></span>
                        </label>
                        <div class="heading">
                            <label> {{ username }} </label>
                            <label class="change">Change profile picture</label>
                        </div>
                    </div>
                    <div class="block">
                        <label for="uname">Username</label>
                        <input type="text" value="{{ details[1] }}" name="username" required>
                    </div>
                    <div class="block">
                        <label for="email">Email</label>
                        <input type="email" value="{{ details[2] }}" name="email" required>
                    </div>
                    <div class="block">
                        <label for="location">Location</label>
                        <select name="location">
                            {% if details[4] == 'Kingston' %}
                                <option value="Kingston">Kingston</option>
                                <option value="Toronto">Toronto</option>
                                <option value="Montreal">Montreal</option>
                            {% elif details[4] == 'Toronto' %}
                                <option value="Kingston">Kingston</option>
                                <option value="Toronto" selected="selected">Toronto</option>
                                <option value="Montreal">Montreal</option>
                            {% else %}
                                <option value="Kingston">Kingston</option>
                                <option value="Toronto">Toronto</option>
                                <option value="Montreal" selected="selected">Montreal</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="block">
                        <label for="address">Address</label>
                        <input type="text" value="{{ details[5] }}" name="address" required>
                    </div>

                    <div class="block">
                        <label for="psw">Password</label>
                        <input type="password" value="{{ details[3] }}" name="password" required>
                    </div>

                    <div class="block newsletter">
                        <input type="checkbox" name="newsletter" id="newsletter">
                        <label for="newsletter">Do you want to receive newsletters from Carbon Calories?</label>
                    </div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>

    </div>


</body>

</html>